@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    margin: 0px;
    background-image: url("/assets/topography/topography.png");
}

main {
    padding: 0% 10%;
    font-size: 150%;
}

.navBar {
    background-color: #333333;
    height: 40px;
}

#logo {
    background-color: #333333;
    float: left;
    margin-left: 10%;
    padding: 4px 0;
}

h1 {
    margin-top: 80px;
}

.title {
    font-family: 'Andada Pro', courier;
    font-weight: bolder;
}

.navTitles {
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    height: 16px;
    float: right;
    margin-right: 10%;
}

.navTitles a {
    color: #ff0099;
    font-size: 16px;
    margin-left: 10px;
}

p {
    font-family: 'Anonymous Pro', courier;
    text-align: left;
}

li {
    display: inline;
}

.introducing-class h2 {
    color: #ff0099;
}

.separator {
    width: 4px;
    height: 1px;
    margin: 5px;
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 6px;
}

#wikiSection h2 {
    text-align: center;
}

#wikiSection h3 {
    text-align: left;
}