@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html {
    background-image: url("/assets/topography/topography.png");   
}

main {
    padding: 0% 10%;
}

body {
    margin: 0px;
}

.navTitles {
    list-style-type: none;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    height: 16px;
    float: right;
    margin-right: 10%;
}

li {
    display: inline;
}

.navBar {
    background-color: #333333;
    height: 40px;
}

.navTitles a {
    color: #ff0099;
    font-size: 16px;
    margin-left: 30px;
}

.introducing-class h2 {
color: #ff0099;
}

.separator {
    width: 4px;
    height: 1px;
    margin: 5px;
    background-color: black;
}

header {
    position: sticky;
}

#logo {
    background-color: #333333;
    float: left;
    margin-left: 10%;
    padding: 4px 0;
}

p {
    font-family: 'Anonymous Pro', courier;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15px;
}

#wikiTitle {
    text-align: center;
    margin-top: 0px;
}

.title {
    font-family: 'Andada Pro', courier;
    font-weight: bolder;
}

.introducing-class #introducing-block {
    margin: 0;
}